@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap);

* {
    margin: 0;
    padding: 0;
    overflow-x: auto;
    box-sizing: border-box;
}

html {
    font-size: 180%;
    background-color: #FCFAF9;
    overflow-x: hidden;
    position: relative;
}

main {
    overflow-x: hidden;
}

div.page {
    background-color: #FCFAF9;
    width: 100%;
    height: auto;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 300;
    font-style: normal;
    /* background-color: red;*/
}

div.normal {
    margin: 0 24vw auto 24vw;
}


.js-based {
    display: none;
}

.theme-title {
    color: #333333;
    text-decoration: none;
    width: auto;
    font-size: 0.72rem;
    padding: 0 28px;
    letter-spacing: 0.1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

li.theme-item img {
    width: 28px;
    height: auto;
    float: right;
    margin: auto 0 auto auto;
    cursor: pointer;
    transform: rotate(0deg);
}

.item-list {
    display: list-item;
    font-size: 0.54rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    margin-top: 6px;
}

.item-list li {
    padding: 8px 26px;
}

input[type="checkbox"] {
    display: none;
}

#btn1:checked~.item-list {
    display: list-item;
    height: auto;
    padding: 0 22px;
}

#btn1:checked~.theme-title .arrow {
    transform: rotate(90deg);
}

li.theme-item {
    position: relative;
    margin-bottom: 14px;
    padding-bottom: 10px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1.8px;
    border-color: #333333;
    overflow-y: hidden;
}

a {
    color: #2EB4D1;
    text-decoration: none;
}



footer {
    font-size: 0.45rem;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.1rem;
    color: #333333;
    background-color: #FCFAF9;
    text-align: center;
    padding: 0.4rem;
}

@media screen and (max-width: 1024px) and (max-height: 1400px) {
    div.normal {
        height: fit-content;
        margin: 0 20vw auto 20vw;
    }
}

@media screen and (max-width: 768px) {

    div.normal {
        height: fit-content;
        margin: 0 16vw auto 16vw;
    }

    .theme-title{
        font-size: 0.64rem;
        padding: 0 18px;
    }

    li.theme-item img {
        width: 24px;
    }

}

@media screen and (max-width: 540px) {

    .item-list li {
        padding: 8px 13px;
    }

    li.theme-item img {
        width: 18px;
    }

    .item-list{
        font-size: 0.4rem;
    }

    .theme-title{
        font-size: 0.52rem;
        padding: 0 9px;
    }

    li.theme-item {
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 340px) {
    .title h2 {
        font-size: 0.65rem;
    }
    .title h3 {
        font-size: 0.3rem;
    }
    .theme-title{
        font-size: 0.48rem;
    }
}