@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap);

* {
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
}

html {
    font-size: 180%;
    background-color: #FCFAF9;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}


main {
    overflow-x: hidden;
}

div.page {
    background-color: #989796;
    width: 100%;
    height: 95vh;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 300;
    font-style: normal;
    /* background-color: red;*/
}

div.normal {
    margin: 0 24vw auto 24vw;
}

div.title {
    color: #FCFAF9;
    height: auto;
    margin: 80px auto 30px;
    text-align: center;
    width: 620px;
}

.title h2 {
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    overflow: hidden;
}

.line {
    width: 100%;
    height: 2px;
    /* background-color: #989796; */
    margin: 6px 0;
    position: relative;
}

.line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #FCFAF9;
}

.line::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    width: 20px;
    height: 2px;
    border-radius: 10px;
    background-color: #FCFAF9;
}

.title h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: lighter;
    margin: 0.5rem 0 0 0;
    letter-spacing: 0.1rem;
}

input, textarea {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.65rem;
    border-style: none;
    border-radius: 2px;
    float: left;
    margin: 0 0 20px 0;
    width: 100%;
    padding: 15px 10px 10px;
}

.contact-text textarea {
    height: 7rem;
}

button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.84rem;
    background-color: transparent;
    border-style: solid;
    border-width: 1.8px;
    border-radius: 3px;
    margin-top: 40px;
    padding-left: 0.6rem;
    letter-spacing: 0.1rem;
    width: 240px;
    height: 80px;
    text-align: left;
    /*アニメーション*/
    position: relative;
    overflow: hidden;
    transition: ease .2s;
    cursor: pointer;
}

/*ボタン内spanの形状*/
button span {
    position: relative;
    z-index: 3;
    /*z-indexの数値をあげて文字を背景よりも手前に表示*/
    /* color: #FCFAF9; */
}

button.white:hover span {
    color: #989796;
}

button.black:hover span {
    color: #FCFAF9;
}

/*== 背景が流れる（左から右） */
.bgleft:before {
    content: '';
    /*絶対配置で位置を指定*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /*色や形状*/
    /* background: #FCFAF9; */
    /*背景色*/
    width: 100%;
    height: 100%;
    /*アニメーション*/
    transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
    transform-origin: right top;
}

/*== 背景が流れる（右から左） */
.bgright:before {
    content: '';
    /*絶対配置で位置を指定*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /*色や形状*/
    background: #333;
    /*背景色*/
    width: 100%;
    height: 100%;
    /*アニメーション*/
    transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
    transform-origin: left top;
}

.white:before {
    background: #FCFAF9;
}

.black:before {
    background: #333333;
}

/*hoverした際の形状*/
.bgleft:hover:before {
    transform-origin: left top;
    transform: scale(1, 1);
}

/*hoverした際の形状*/
.bgright:hover:before {
    transform-origin: right top;
    transform: scale(1, 1);
}

button .arrow {
    width: 32px;
    height: auto;
    margin-right: 14px;
    margin-top: 6px;
    float: right;
}

button.white {
    color: #FCFAF9;
    border-color: #FCFAF9;
}

button.black {
    color: #333333;
    border-color: #333333;
}

button.center {
    margin: 20px auto 0;
    display: block;
}


footer {
    font-size: 0.45rem;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.1rem;
    color: #FCFAF9;
    background-color: #989796;
    text-align: center;
    padding: 0.4rem;
}


.thanks {
    background-color: #FCFAF9;
    text-align: center;
    color: #333333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
}

.thanks h1 {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.thanks h3 {
    font-family: Andale Mono;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    margin: 2px auto 28px;
}

.thanks h5 {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 0.8rem;
    width: 1080px;
}

.thanks h6 {
    font-family: Andale Mono;
    letter-spacing: 0.05rem;
    font-size: 0.7rem;
    margin-bottom: 80px;
}

.back {
    text-align: right;
    padding-right: 18px;
}

.back img.arrow {
    transform: rotate(180deg);
    float: left;
}

footer.thanks-footer {
    font-size: 0.45rem;
    font-family: Andale Mono;
    letter-spacing: 0.1rem;
    color: #333333;
    background-color: #FCFAF9;
    text-align: center;
    padding: 0.4rem;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1080px) and (max-height: 1400px) {
    button {
        width: 240px;
        height: 80px;
    }
}

@media screen and (max-width: 900px) {
    div.title {
        width: 75%;
    }

    .title h2 {
        font-size: 1rem;
    }

    .title h3 {
        font-size: 0.62rem;
    }
}

@media screen and (max-width: 768px) {
    div.title {
        width: 80%;
    }

    .title h2 {
        font-size: 0.9rem;
    }

    .title h3 {
        font-size: 0.5rem;
    }
    div.normal {
        height: fit-content;
        margin: 0 8vw auto 8vw;
    }
}

@media screen and (max-width: 540px) {

    /* 480px以下に適用されるCSS（スマホ用） */
    div.title {
        width: 80%;
        margin-top: 18%;
    }

    .title h2 {
        font-size: 0.8rem;
    }

    .title h3{
        font-size: 0.42rem;
    }

    div.normal{
        margin: 0 4vw auto 3vw;
    }
    button {
        width: 180px;
        height: 60px;
    }

    button .arrow {
        width: 24px;
        height: auto;
    }
}

@media screen and (max-width: 420px) {
    .title h2 {
        font-size: 0.74rem;
    }
    .title h3 {
        font-size: 0.34rem;
    }

    button {
        font-size: 0.62rem;
        width: 153px;
        height: 51px;
    }

    button .arrow {
        width: 18px;
        height: auto;
    }
}

@media screen and (max-width: 340px) {
    .title h2 {
        font-size: 0.65rem;
    }
    .title h3 {
        font-size: 0.3rem;
    }
}