@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap);

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    font-size: 180%;
    background-color: #FCFAF9;
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    z-index: 10;
    font-family: Andale Mono;
    display: flex;
    max-width: 100%;
    padding: 15px 2.5vw;
    margin: 0 auto;
    /* background-color: #FCFAF9; */
    color: #333333;
    align-items: center;
    justify-content: space-between;
}

header .headline {
    font-size: 1rem;
    float: left;
    letter-spacing: 0.1rem;
}

.nav-item {
    list-style: none;
    display: inline-block;
    font-size: 0.62rem;
    padding: 0 0 0 2vw;
    letter-spacing: 0.05rem;
}

.nav-item a {
    color: inherit;
    text-decoration: none;
}

div.page {
    width: 100%;
    height: 110vh;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: normal;
    font-style: normal;
}

div.normal {
    background-color: rgba(0, 0, 0, 0);
    margin: 16vh 12vw auto 12vw;
    height: 100vh;
}

#v1, #v2, #v3 {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7;
    width: 100%;
    z-index: 2;
}

.gif-logo {
    margin: 66.5vh 0 0 47px;
    width: 430px;
    height: auto;
    position: absolute;
    z-index: 8;
    opacity: 1;
}

.logo {
    opacity: 0;
    margin: 71vh 0 0 60px;
    width: 420px;
    height: auto;
    position: absolute;
    z-index: 8;
}

div.explain {
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    height: 140vh;
}

.explain-text {
    position: absolute;
    color: #FCFAF9;
    top: 50%;
    left: 35%;
    transform: translate(-35%, -50%);
    width: auto;
    height: auto;
    /* text-align: center; */
}

.explain-text h3 {
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: 27rem;
    line-height: 1.2;
    height: auto;
    overflow: hidden;
}

.explain-text h5 {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    margin-top: 0.4rem;
    /* text-align: end; */
}

.explain-text p {
    padding-top: 1.6rem;
    padding-bottom: 20px;
    width: 540px;
    font-size: 0.62rem;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.05rem;
}

.background {
    background-color: transparent;
    width: 984px;
    height: auto;
    object-fit: cover;
    object-position: 0 80%;
    display: block;
    margin: 48vh -95px auto auto;
    mix-blend-mode: lighten;
}

.gradation01 {
    overflow: hidden;
    width: 100vw;
    /* height: 140vh;  */
    background-color: #989796;

}

.item {

    position: absolute;
    top: 180%;
    left: 25%;
    opacity: .6;

    /* 回転アニメーション */
    transform-origin: 0 0;
    animation-name: rotate-item;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item-01 {
    z-index: 4;
    animation-duration: 15s;
    width: 60vw;
    height: 60vw;
}

.item-02 {
    z-index: 3;
    animation-duration: 30s;
    animation-direction: reverse;
    width: 70vw;
    height: 70vw;
}

.item-03 {
    z-index: 5;
    animation-duration: 20s;
    width: 40vw;
    height: 40vw;
}

.round {
    position: relative;
    border-radius: 50%;
}

.round-01 {
    top: 40%;
    left: 40%;
    width: 10vw;
    height: 10vw;
    background: #FCFAF9;
    filter: blur(40px);
    animation: flash 5s linear infinite;
}

.round-02 {
    top: 40%;
    left: 40%;
    width: 16vw;
    height: 16vw;
    background-color: #FCFAF9;
    filter: blur(80px);
    animation: flash 8s linear infinite;
}

.round-03 {
    top: 40%;
    left: 40%;
    width: 13vw;
    height: 13vw;
    background-color: #FCFAF9;
    filter: blur(50px);
    animation: flash 6s linear infinite;
}

/* 回転アニメーション */
@keyframes rotate-item {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* 点滅アニメーション */
@keyframes flash {

    0%,
    100% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.5;
    }
}

button {
    font-family: Andale Mono;
    font-weight: normal;
    font-style: normal;
    font-size: 0.85rem;
    background-color: transparent;
    border-style: solid;
    border-width: 1.8px;
    border-radius: 3px;
    margin-top: 40px;
    padding-left: 0.6rem;
    letter-spacing: 0.1rem;
    width: 18vw;
    height: 10vh;
    text-align: left;
    /*アニメーション*/
    position: relative;
    overflow: hidden;
    transition: ease .2s;
    cursor: pointer;
}

/*ボタン内spanの形状*/
button span {
    position: relative;
    z-index: 7;
    /*z-indexの数値をあげて文字を背景よりも手前に表示*/
    /* color: #FCFAF9; */
}

button.white:hover span {
    color: #989796;
}

button.white2:hover span {
    color: #333333;
}

button.black:hover span {
    color: #FCFAF9;
}

/*== 背景が流れる（左から右） */
.bgleft:before {
    content: '';
    /*絶対配置で位置を指定*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    /*色や形状*/
    /* background: #FCFAF9; */
    /*背景色*/
    width: 100%;
    height: 100%;
    /*アニメーション*/
    transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
    transform-origin: right top;
}

.white:before, .white2:before {
    background: #FCFAF9;
}

.black:before {
    background: #333333;
}

/*hoverした際の形状*/
.bgleft:hover:before {
    transform-origin: left top;
    transform: scale(1, 1);
}

button .arrow {
    width: 32px;
    height: auto;
    margin-right: 14px;
    margin-top: 6px;
    float: right;
}

button.white, button.white2 {
    color: #FCFAF9;
    border-color: #FCFAF9;
}

button.black {
    color: #333333;
    border-color: #333333;
}

div.subtitle {
    position: relative;
    width: 260px;
}

.subtitle h2 {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    position: relative;
    letter-spacing: 0.15rem;
}

.line {
    width: 100%;
    height: 2px;
    /* background-color: #989796; */
    margin: 6px 0;
    position: relative;
}

.line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #989796;
}

.line::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    width: 20px;
    height: 2px;
    border-radius: 10px;
    background-color: #989796;
}

.subtitle h3 {
    font-family: Andale Mono;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: lighter;
    text-align: end;
    margin: 4px 0 0 0;
    letter-spacing: 0.1rem;
}

.list {
    display: flex;
}

.js-based {
    display: none;
}

.list-item a {
    color: inherit;
    text-decoration: none;
}

.list-item {
    width: 22vw;
    height: 24vw;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: #333333;
    margin: 5vh 4vw 0 0;
    padding: 8px;
}

.list-item img {
    width: 280px;
    height: 280px;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    background-color: #FCFAF9;
}

.list-item:hover {
    /* transform:scale(1.05,1.05); */
    background-color: #333333;
    color: #FCFAF9;
    animation-name: fadeInAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

@keyframes fadeInAnime {
    from {
        background-color: #FCFAF9;
        color: #333333;
        opacity: 0.5;
    }

    to {
        background-color: #333333;
        color: #FCFAF9;
        opacity: 1;
    }
}

.news-title {
    width: 18vw;
    bottom: 0;
    margin: auto auto 2.5vh auto;
    font-size: 0.7rem;
    font-weight: 200;
    letter-spacing: 0.1rem;
}

.list-item .line {
    margin: 0 auto;
    width: 19vw;
}

button.right {
    position: absolute;
    right: 0;
    margin: 6vh 12.4vw 0 0;
}

.end-page {
    width: 100vw;
    height: fit-content;
    color: #FCFAF9;
    background-color: #333333;
    padding: 60px 80px;
}

.end-page h3{
    font-size: 1.4rem;
    font-family: Andale Mono;
    width: fit-content;
    letter-spacing: 0.05rem;
}

.end-title-j{
    font-size: 0.7rem;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 400;
    width: fit-content;
    letter-spacing: 0.05rem;
    margin: 1rem 0 0.2rem;
    padding: 0;
}

.end-title-e{
    font-size: 0.64rem;
    font-family: Andale Mono;
    width: fit-content;
    letter-spacing: 0.05rem;
    margin: 0 0 0.8rem;
}

.access{
    font-size: 0.68rem;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 300;
    width: fit-content;
    letter-spacing: 0.05rem;
    margin: 0 0 0.8rem;
    padding: 0;
}

.link-access {
    width: 100%;
    height: fit-content;
    top: 0;
    left: 0;
    margin: 10px 0;
    letter-spacing: 0.1rem;
    position: relative;
}

.link-box {
    display: flex;
    width: fit-content;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
}

.link-box a {
    color: #2EB4D1;
    /* color: #FCFAF9; */
}

.end p {
    font-size: 0.62rem;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 400;
    width: fit-content;
}

.text-box {
    width: 50vw;
    float: left;
}

.form-button {
    float: right;
    margin-top: 5px;
}


.map {
    width: 32vw;
    height: 24vw;
    margin: 10px 80px;
}

footer {
    font-size: 0.45rem;
    font-family: Andale Mono;
    letter-spacing: 0.1rem;
    color: #FCFAF9;
    background-color: #333333;
    text-align: center;
    padding: 0.4rem;
}