@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap);

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

html {
    font-size: 180%;
    background-color: #FCFAF9;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

div.page {
    width: 100%;
    height: 100vh;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: normal;
    font-style: normal;
    overflow: hidden;
    position: relative;
}

div.normal {
    background-color: rgba(0, 0, 0, 0);
    margin: 20vh 0 auto 12vw;
    height: 100vh;
    width: 90vw;
    display: block;
}

#v1, #v2, #v3 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.gif-logo {
    /* top: 65vh; */
    bottom: 5%;
    /* left: 3%; */
    right: 3%;
    width: 50%;
    height: auto;
    position: absolute;
    z-index: 8;
    opacity: 1;
}

.logo {
    opacity: 0;
    /* top: 70vh; */
    bottom: 5%;
    /* left: 4%; */
    right: 2%;
    width: 50%;
    height: auto;
    position: absolute;
    z-index: 8;
}

div.explain {
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    height: 140vh;
}

.explain-text {
    position: absolute;
    color: #FCFAF9;
    top: 50%;
    left: 35%;
    transform: translate(-35%, -50%);
    width: auto;
    height: auto;
    /* text-align: center; */
}

.explain-text h3 {
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: 27rem;
    line-height: 1.2;
    height: auto;
    overflow: hidden;
}

.explain-text h5 {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    margin-top: 0.4rem;
    /* text-align: end; */
}

.explain-text p {
    padding-top: 1.6rem;
    padding-bottom: 20px;
    width: 540px;
    font-size: 0.62rem;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.05rem;
}

.background {
    background-color: transparent;
    width: 984px;
    height: auto;
    object-fit: cover;
    object-position: 0 80%;
    display: block;
    margin: 48vh -95px auto auto;
    mix-blend-mode: lighten;
}

.gradation01 {
    overflow: hidden;
    width: 100vw;
    /* height: 140vh;  */
    background-color: #989796;
}

.item {
    position: absolute;
    top: 180%;
    left: 25%;
    opacity: .6;

    /* 回転アニメーション */
    transform-origin: 0 0;
    animation-name: rotate-item;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item-01 {
    z-index: 4;
    animation-duration: 15s;
    width: 60vw;
    height: 60vw;
}

.item-02 {
    z-index: 3;
    animation-duration: 30s;
    animation-direction: reverse;
    width: 70vw;
    height: 70vw;
}

.item-03 {
    z-index: 5;
    animation-duration: 20s;
    width: 40vw;
    height: 40vw;
}

.round {
    position: relative;
    border-radius: 50%;
}

.round-01 {
    top: 40%;
    left: 40%;
    width: 10vw;
    height: 10vw;
    background: #FCFAF9;
    filter: blur(40px);
    animation: flash 5s linear infinite;
}

.round-02 {
    top: 40%;
    left: 40%;
    width: 16vw;
    height: 16vw;
    background-color: #FCFAF9;
    filter: blur(80px);
    animation: flash 8s linear infinite;
}

.round-03 {
    top: 40%;
    left: 40%;
    width: 13vw;
    height: 13vw;
    background-color: #FCFAF9;
    filter: blur(50px);
    animation: flash 6s linear infinite;
}

/* 回転アニメーション */
@keyframes rotate-item {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* 点滅アニメーション */
@keyframes flash {

    0%,
    100% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.5;
    }
}

button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.85rem;
    background-color: transparent;
    border-style: solid;
    border-width: 1.8px;
    border-radius: 3px;
    margin-top: 40px;
    padding-left: 0.6rem;
    letter-spacing: 0.1rem;
    width: 240px;
    height: 80px;
    text-align: left;
    /*アニメーション*/
    position: relative;
    overflow: hidden;
    transition: ease .2s;
    cursor: pointer;
}

/*ボタン内spanの形状*/
button span {
    position: relative;
    z-index: 7;
    /*z-indexの数値をあげて文字を背景よりも手前に表示*/
    /* color: #FCFAF9; */
}

button.white:hover span {
    color: #989796;
}

button.black:hover span {
    color: #FCFAF9;
}

/*== 背景が流れる（左から右） */
.bgleft:before {
    content: '';
    /*絶対配置で位置を指定*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    /*色や形状*/
    /* background: #FCFAF9; */
    /*背景色*/
    width: 100%;
    height: 100%;
    /*アニメーション*/
    transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
    transform-origin: right top;
}

.white:before{
    background: #FCFAF9;
}

.black:before {
    background: #333333;
}

/*hoverした際の形状*/
.bgleft:hover:before {
    transform-origin: left top;
    transform: scale(1, 1);
}

button .arrow {
    width: 32px;
    height: auto;
    margin-right: 14px;
    margin-top: 6px;
    float: right;
}

button.white {
    color: #FCFAF9;
    border-color: #FCFAF9;
}

button.black {
    color: #333333;
    border-color: #333333;
}

.subtitle h3 {
    margin: 4px 0 0 0;
}

.list {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    /* height: 400px; */
    height: fit-content;
    width: 90%;
}

.js-based {
    display: none;
}

.list-item a {
    color: inherit;
    text-decoration: none;
}

.list-item {
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: #333333;
    margin: 5vh 4vw 0 0;
    padding: 8px 0.5vw;
    height: fit-content;
    width: fit-content;
}

.list-item img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    background-color: #FCFAF9;
}

.list-item:hover {
    /* transform:scale(1.05,1.05); */
    background-color: #333333;
    color: #FCFAF9;
    animation-name: fadeInAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

@keyframes fadeInAnime {
    from {
        background-color: #FCFAF9;
        color: #333333;
        opacity: 0.5;
    }

    to {
        background-color: #333333;
        color: #FCFAF9;
        opacity: 1;
    }
}

.news-title {
    width: 80%;
    bottom: 0;
    margin: auto auto 0.4rem auto;
    font-size: 0.7rem;
    font-weight: 200;
    letter-spacing: 0.1rem;
    text-align: left;
}

.list-item .line {
    margin: 0 auto;
    width: 85%;
}

button.right {
    margin: 6vh 12vw 0 auto;
    display: block;
}


@media screen and (max-width: 1080px) and (max-height: 1400px) {

    #v1, #v2, #v3 {
        scale: 2;
        top: 60%;
        left: 100%;
        transform: translate(-50%, -50%);
        height: 50%;
        overflow: hidden;
    }

    div.page {
        height: 100vh;
    }

    div.explain {
        height: 90vh;
    }

    .explain-text {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .explain-text h3 {
        font-size: 1.6rem;
        width: 24rem;
    }

    button {
        width: 240px;
        height: 80px;
    }

    .background {
        margin: 35vh -95px auto auto;
    }

    .item {
        top: 150%;
        /* left: 25%; */
    }

    div.normal {
        height: 105vh;
    }

    .list {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: fit-content;
        width: 90%;
    }
}

@media screen and (min-width: 1000px){
    .logo{
        width: 35%;
    }
    .gif-logo{
        width: 35%;
    }
}

@media screen and (min-height: 1000px) and (max-width: 540px){
    .logo{
        width: 40%;
    }
    .gif-logo{
        width: 40%;
    }
}

@media screen and (max-width: 768px) {

    .explain-text h3 {
        width: 100%;
        font-size: 1.2rem;
    }

    .explain-text h5 {
        font-size: 0.8rem;
    }

    .explain-text p {
        font-size: 0.6rem;
    }

}

@media screen and (max-height: 1020px) {
    div.normal {
        height: 105vh;
    }

    div.explain {
        height: 120vh;
    }

    .list {
        grid-template-rows: 1fr;
        height: fit-content;
        width: 90%;
    }
}

@media screen and (max-width: 540px) {

    #v1, #v2, #v3 {
        scale: 2.5;
        top: 70%;
        left: 120%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }

    .gif-logo {
        width: 80%;
    }

    .logo {
        width: 80%;
    }

    div.explain {
        height: 112vh;
    }

    .explain-text {
        width: 80%;
    }

    .explain-text h3 {
        width: 100%;
        font-size: 0.94rem;
    }

    .explain-text h5 {
        font-size: 0.7rem;
    }

    .explain-text p {
        font-size: 0.52rem;
        width: 90%;
    }

    .background {
        margin: 12vh auto auto -260px;
    }

    .round-01 {
        filter: blur(10px);
    }
    
    .round-02 {
        filter: blur(20px);
    }
    
    .round-03 {
        filter: blur(15px);
    }

    button {
        width: 180px;
        height: 60px;
        font-size: 0.72rem;
    }

    button .arrow {
        width: 24px;
        height: auto;
    }

    .list {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: fit-content;
        width: 90%;
    }

    .list-item {
        width: 90%;

    }

    .list-item img {
        width: 140px;
        height: 140px;
    }

    .news-title {
        font-size: 0.5rem;
        letter-spacing: 0.05rem;
        line-height: 1rem;
        /* height: 2rem; */
    }

    div.normal {
        margin-top: 8vh;
        height: 110vh;
    }

}


@media screen and (max-height: 860px) and (max-width: 540px) {
    .list {
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (max-width: 380px) {

    .responsive-btn{
        width: 24px;
        height: 24px;
    }

    .menu-line{
        margin: 3px;
    }

    button {
        font-size: 0.62rem;
        width: 153px;
        height: 51px;
    }

    button .arrow {
        width: 18px;
        height: auto;
    }
}

@media screen and (max-width: 320px) {
    .logo{
        width: 80%;
    }
    .gif-logo{
        width: 80%;
    }

    div.explain {
        height: 110vh;
    }

    .explain-text {
        width: 80%;
    }

    .explain-text h3 {
        width: 100%;
        font-size: 0.64rem;
    }

    .explain-text h5 {
        font-size: 0.5rem;
    }

    .explain-text p {
        font-size: 0.4rem;
        width: 90%;
    }

    .background {
        width: 643px;
        margin: 38vh auto auto -180px;
    }
}

@media screen and (max-height: 530px){
    .logo{
        width: 35%;
        
    }
    .gif-logo{
        width: 35%;
    }

    div.explain {
        height: 140vh;
    }
    .explain-text h3 {
        font-size: 1.4rem;
        width: 21rem;
    }

    .explain-text h5 {
        font-size: 0.9rem;
    }

    div.normal {
        height: 110vh;
    }

    .list-item img {
        width: 80%;
        height: 80%;
    }

    button{
        font-size: 0.74rem;
        width: 180px;
        height: 60px;
    }
}

@media screen and (max-height: 450px){
    div.explain {
        height: 160vh;
    }

    .explain-text h3 {
        font-size: 1.2rem;
        width: 18.8rem;
    }

    .explain-text h5 {
        font-size: 0.8rem;
    }

    .explain-text p {
        font-size: 0.5rem;
    }

    div.normal {
        height: 120vh;
    }

    .list-item img {
        width: 70%;
        height: 70%;
    }
}

@media screen and (max-height: 390px){
    div.explain {
        height: 180vh;
    }

    div.normal {
        height: 140vh;
    }

    /* .logo{
        width: 30%;
    }
    .gif-logo{
        width: 30%;
    } */
}

@media screen and (max-height: 340px){
    div.explain {
        height: 200vh;
    }

    div.normal {
        height: 160vh;
    }

    .logo{
        width: 30%;
    }
    .gif-logo{
        width: 30%;
    }
}

@media screen and (max-height: 340px){
    div.explain {
        height: 220vh;
    }

}