@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap);

* {
    margin: 0;
    padding: 0;
    overflow-x: auto;
    box-sizing: border-box;
}

html, body {
    font-size: 180%;
    background-color: #FCFAF9;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}


main {
    overflow-x: hidden;
}

div.page {
    background-color: #FCFAF9;
    width: 100%;
    height: auto;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 300;
    font-style: normal;
    overflow: hidden;
    position: relative;
}

div.normal {
    margin: 0 0 auto 12vw;
}

.content{
    min-height: 65vh;
}

div.title {
    color: #333333;
    height: auto;
    margin: 10% 0 5%;
    text-align: left;
    width: 80%;
}

.title h2 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    overflow: hidden;
}

.line {
    width: 100%;
    height: 2px;
    /* background-color: #989796; */
    margin: 6px 0;
    position: relative;
}

.line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #989796;
}

.line::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    width: 20px;
    height: 2px;
    border-radius: 10px;
    background-color: #989796;
}

.title h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 300;
    text-align: right;
    margin: 0.5rem 0 0 0;
    letter-spacing: 0.1rem;
}

p {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 0.62rem;
    width: 80%;
    /* min-height: 80vh; */
}

.end {
    width: 80%;
    margin-top: 2rem;
}

button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.85rem;
    background-color: transparent;
    border-style: solid;
    border-width: 1.8px;
    border-radius: 3px;
    padding-left: 0.6rem;
    letter-spacing: 0.1rem;
    width: 240px;
    height: 70px;
    /*アニメーション*/
    position: relative;
    overflow: hidden;
    transition: ease .2s;
}

/*ボタン内spanの形状*/
button span {
    position: relative;
    z-index: 3;
    /*z-indexの数値をあげて文字を背景よりも手前に表示*/
    /* color: #FCFAF9; */
}

button.white:hover span {
    color: #989796;
}

button.black:hover span {
    color: #FCFAF9;
}

/*== 背景が流れる（左から右） */
.bgleft:before {
    content: '';
    /*絶対配置で位置を指定*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /*色や形状*/
    /* background: #FCFAF9; */
    /*背景色*/
    width: 100%;
    height: 100%;
    /*アニメーション*/
    transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
    transform-origin: right top;
}

/*== 背景が流れる（右から左） */
.bgright:before {
    content: '';
    /*絶対配置で位置を指定*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /*色や形状*/
    background: #333;
    /*背景色*/
    width: 100%;
    height: 100%;
    /*アニメーション*/
    transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
    transform-origin: left top;
}

.white:before {
    background: #FCFAF9;
}

.black:before {
    background: #333333;
}

/*hoverした際の形状*/
.bgleft:hover:before {
    transform-origin: left top;
    transform: scale(1, 1);
}

/*hoverした際の形状*/
.bgright:hover:before {
    transform-origin: right top;
    transform: scale(1, 1);
}

button .arrow {
    width: 32px;
    height: auto;
    margin-right: 14px;
    margin-top: 6px;
    float: right;
}

button.center {
    margin: 16vh auto 18vh auto;
}

.btns {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 120px 0 40px;
}

.prev {
    text-align: right;
    padding-right: 12px;
}

.prev img.arrow {
    transform: rotate(180deg);
    float: left;
}

.next {
    text-align: left;
    margin-right: 0;
    margin-left: auto;
}

.next img.arrow {
    margin-left: 10px;
    float: right;
}

.back-heart {
    width: 45vw;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 5%;
}


footer {
    font-size: 0.45rem;
    font-family: 'Ubuntu', sans-serif;;
    letter-spacing: 0.1rem;
    color: #333333;
    background-color: #FCFAF9;
    text-align: center;
    padding: 0.4rem;
}

@media screen and (max-width: 1024px) {
    .back-heart{
        width: 50vw;
        bottom: 10%;
    }
}

@media screen and (max-width: 768px) {

    .explain-text h3 {
        width: 100%;
        font-size: 1.2rem;
    }

    .explain-text h5 {
        font-size: 0.8rem;
    }

    .explain-text p {
        font-size: 0.6rem;
    }

    button {
        width: 210px;
        height: 70px;
        font-size: 0.72rem;
    }

    div.title{
        margin-top: 15%;
    }

    .title h2 {
        font-size: 0.9rem;
    }

    .back-heart{
        width: 60vw;
        bottom: 15%;
    }

}

@media screen and (max-width: 540px) {
    button {
        width: 180px;
        height: 60px;
        font-size: 0.72rem;
    }

    button .arrow {
        width: 24px;
        height: auto;
    }

    div.title{
        margin-top: 20%;
    }

    .title h2 {
        font-size: 0.85rem;
    }

    .title h3{
        font-size: 0.6rem;
    }

    .back-heart{
        width: 70vw;
        bottom: 20%;
    }
}

@media screen and (max-width: 380px) {
    button {
        font-size: 0.62rem;
        width: 153px;
        height: 51px;
    }

    button .arrow {
        width: 18px;
        height: auto;
    }
}

@media screen and (max-width: 340px) {
    .title h2 {
        font-size: 0.75rem;
    }

    .title h3{
        font-size: 0.55rem;
    }

    button {
        padding: 4%;
        width: fit-content;
        height: fit-content;
    }
}